body {  
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
}

.App {
  text-align: center;
}

.game-header {
  background-color: #5D4D70;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F6F6F7;
  text-shadow: 3px 3px #746c7e;
  border-bottom: 5px solid #463758;
}

.game-header.alternate {
  background-color: #5D4D70;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F6F6F7;
  border-bottom: 5px solid #463758;
}

.game-header.alternate h1 {
  padding-top: 25px;
  font-size: calc(16px);
  text-shadow: 3px 3px #746c7e;
}

.game-body {
  background-color: #F6F6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black;
  padding: 10px;
}

.form-body {
  margin: 50px;
  padding: 60px;
  border: 3px solid #BD7A80;
  background-color: #fefef9;
  border-radius: 15px;
  text-align: left;
  justify-content: left;
  width: -webkit-fill-available;
}

label input {
  margin: 15px 5px 5px 10px;
  padding: 5px;
}
.App-link {
  color: #BD7A80;
}

.main-button {
  background-color: #F08984;
  border: none;
  color: #F6F6F7;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  margin: 10px;
}

.main-button.alternate {
  background-color: #6DAFCA;
}

.main-button:hover {
  background-color: #BD7A80;
}

.main-button.alternate:hover {
  background-color: #94d6ee;
}

div {
  width: auto;
}

h1.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #F08984;
  padding: 10px;
  border-bottom: 2px solid #BD7A80;
  width: 80%;
}

p {
  font-size: medium;
  margin: 10px;
}

.question-input {
  width: -webkit-fill-available;
  max-width: 40%;
}

.question-input.main {
  max-width: -webkit-fill-available;
}