body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

.App {
  text-align: center;
}

.game-header {
  background-color: #5d4d70;
  text-align: left;
  border-bottom: 5px solid #463758;
  font-size: small;
  padding: 5px 0px 0px 100px;
  min-height: 8vh;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #ddd;
}

.game-body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black;
  padding: 70px 10px;
  contain: content;
  background-image: linear-gradient( #eee, #ccc);
}

.game-body.alternate {
  padding: 30px 50px;
  height: 100%;
  background-image: linear-gradient( #bbb, #fff);
}

.form-body {
  background-color: #fefef9;
  text-align: left;
  width: -webkit-fill-available;
  padding: 20px;
}

.form-body.alternate {
  text-align: center;
}

.form-group {
  margin: 5px 50px;
}

label input {
  margin: 15px 5px 5px 10px;
  padding: 5px;
}

.main-button {
  background-color: #f08984;
  border: none;
  color: #f6f6f7;
  padding: 20px 35px;
  text-align: center;
  display: inline-block;
  font-size: x-large;
  border-radius: 2px;
  margin: 10px;
}

.main-button.small {
  font-size: medium;
  padding: 15px 75px;
}

.main-button.alternate {
  background-color: #6dafca;
}

.main-button:hover {
  background-color: #bd7a80;
}

.main-button.alternate:hover {
  background-color: #94d6ee;
}

div {
  width: auto;
}

h1 {
  font-family: cursive;
  color: #f5f5f5;
  text-shadow: 2px 2px 4px #463758;
}

h1.alternate {
  color: #f08984;
  padding: 10px;
  border-bottom: 1px solid #f08984;
  margin: 15px 50px;
  font-weight: lighter;
  font-size: 1.5em;
  text-shadow: 0px 0px;
}

hr {
  margin: 35px;
}

p {  
  font-family: cursive;
  margin: 0px;
}

li {
  font-size: medium;
  margin: 10px 55px;
  list-style-type: circle;
  font-weight: lighter;
}

.question-input {
  width: -webkit-fill-available;
  max-width: 40%;
}

.question-input.main {
  max-width: -webkit-fill-available;
}

.srv-validation-message {
  color: #6dafca;
}

table {
  min-width: 60%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
}

th {
  background-color: #6dafca;
  color: white;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
}

tr:hover {
  background-color: rgb(255, 222, 222);
}

.question {
  margin: 15px;
}

.answer {
  margin-left: 20px;
}

.right {
  text-align: right;
}